/* Debug */

.debug #site_header {
    height: 81px;
    background-color: blue;
}

.debug .logo {
    height: 81px;
    background-color: yellow;
    border: 4px solid purple;

}

.debug .a-tag {
    height: 81px;
    background-color: yellow;
    border: 4px solid purple;
}

.debug .login {
    height: 81px;
    background-color: yellow;
    border: 4px solid purple;
}

.debug .banner {
    height: 570px;
    background-color: orange;
}

.debug .banner-content {
    height: 500px;
    background-color: green;
}

.debug .white-section {
    height: 800px;
    background-color: white;
}

.debug .image {
    height: 700px;
    background-color: yellow;
}

.debug .content {
    height: 700px;
    background-color: purple;
}

.debug .grey-section {
    height: 800px;
    background-color: grey;
}

.debug .technology-section {
    height: 1300px;
    background-color: rgb(57, 57, 57);
}

.debug .technology-content {
    height: 1000px;
    background-color: red;
}

.debug #site_footer {
    height: 700px;
    background-color: black;
}

.debug .row {
    background-color: yellow;
    height: 500px;
    width: 70%;
}

.debug .col-4 {
    background-color: purple;
    border: 2px dashed blue;
}

.debug .col-2 {
    background-color: purple;
    border: 2px dashed blue;
}

.debug .signup {
    height: 130px;
    background-color: green;
}

/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif
}

.container {
    display: flex;
}

.login {
    width: 15%;
}

.banner-content,
.technology-content {
    width: 80%;
}


.banner,
.white-section,
.grey-section,
.technology-section {
    justify-content: center;
    align-items: center;
}


.content {
    width: 25%;
    padding-top: 1.6rem;
}

.row {
    display: flex;
    margin: auto;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.signup {
    width: 70%;
}

.container-signup {
    display: flex;
    justify-content: center;
}







header {
    background-color: #265EE8;
    padding: 1rem;
    width: 100%;
    min-width: 80%;
}

a {
    text-decoration: none;
    color: white;
}

.container .a-tag {
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.w-button {
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: medium;
    margin: 0 0.5rem;
}

.b-button {
    background-color: #23272A;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    font-size: medium;
    margin: 0 0.5rem;
}

.container.topheader {
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.banner-content {
    background-image: url("/img-discord/jumbo.png");
    width: 100%;
    aspect-ratio: 1120 / 417;
    background-size: contain;
    color: white;
}

.banner-content {
    justify-content: center;
    padding-top: 6rem;
    text-align: center;
}

h1 {
    font-size: xxx-large;
}

p {
    font-size: smaller;
}

.banner-text {
    width: 40%
}

#p-banner {
    padding-top: 2rem;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 1rem;
}

.container.white-section {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.container.image {
    width: 80%;
    justify-content: space-around;
}

.p-content {
    padding-top: 2rem;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 1rem;
    text-align: left;
}

.p-content-big {
    padding-top: 2rem;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 1rem;
    width: 70%;
    text-align: center;
}

#wave-up {
    width: 100%;
    filter: invert(100%) sepia(6%) saturate(2149%) hue-rotate(216deg) brightness(115%) contrast(93%);
}

#wave-down {
    width: 100%;
    filter: invert(100%) sepia(6%) saturate(2149%) hue-rotate(216deg) brightness(115%) contrast(93%);
    transform: scaleY(-1);

}

.container.grey-section {
    background-color: #F6F6F6;
}

#voice {
    padding-left: 4rem;
}

.container.technology {
    background-color: #F6F6F6;
    justify-content: center;
}

.technology-section {
    width: 80%;
}

.container.technology-section {
    flex-flow: column;
}